<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="app">
            <div class="container">
                <header>
                    <div class="logo__section">
                        <img src="img/download.png" alt="logo">
                    </div>
                </header>
                <main>
                    <!-- selezione genere -->
                    <div class="genre__selection">
                        <label for="genere">Scegli il tuo genere preferito</label>
                        <select v-model="genreSelected" name="genere" id="genere">
                            <option  v-for="genere in genre" :value="genere"> {{genere}} </option>
                        </select>
                    </div>
                    
                    <!--end selezione genere -->

                    <div class="album__section">
                        <div v-for="album in albums" v-show="album.genre == genreSelected || genreSelected == 'All'" class="single_album">
                            <img :src="album.poster" alt="">
                            <h3 class="title">{{album.title}}</h3>
                            <p class="author">{{album.author}}</p>
                            <p>{{album.year}}</p>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="js/script.js"></script>
    </body>
</html>